$color-background: aliceblue;
$color-primary: rgb(235, 246, 255);
$color-gradient: linear-gradient(
  90deg,
  rgba(37, 92, 231, 1) 0%,
  rgba(44, 162, 214, 1) 48%,
  rgba(21, 236, 103, 1) 100%
);
$color-border-head: #0fa692;
$color-border-row: gray;
$color-font: rgb(83, 83, 93);
